<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
</body>
<div id="sketch">
    <canvas id="paint"></canvas>
</div>

<div id="settings">
    <button onclick="reset()">Reset</button>
    <button onclick="predict()">Predict</button>
</div>

<div style="text-align: center">
    <h3>The prediction is : </h3>
    <h3 id="result"></h3>
</div>

<script src="../static/index.js"></script>
</html>